server {
    listen 443 ssl;
    listen [::]:443 ssl;
    include snippets/self-signed.conf;
    include snippets/ssl-params.conf;

    root /var/www/{{ item.server_name }}/html;
    index {{ item.index }};
  
    server_name {{ item.server_name }} www.{{ item.server_name }};

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ .php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.3-fpm.sock;
    }
}
server {
    listen   80;
    server_name {{ item.server_name }} www.{{ item.server_name }};

    root /var/www/{{ item.server_name }}/html;
    access_log  /var/www/{{ item.server_name }}/log/access.log;
    error_log  /var/www/{{ item.server_name }}/log/error.log warn;

    index index.php index.html index.htm index.nginx-debian.html;
    index {{ item.index }};

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.3-fpm.sock;
    }
}